<mat-sidenav-container class="example-container">
    <mat-sidenav opened mode="side" opened>
        <nav class="left-navbar">
            <div class="navbar-header">
                    <div class="logo">
                        <img class="logo-icon" src="/assets/images/fuse.svg">
                        <span class="logo-text">FUSE</span>
                    </div>
            </div>
        </nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-top-nav-menu></app-top-nav-menu>
        <article class="content">
            <router-outlet></router-outlet>
        </article>
        
    </mat-sidenav-content>
</mat-sidenav-container>